In [1]:
import tensorflow as tf
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Load data
file_path = Path("Resources/sample.csv")
df = pd.read_csv(file_path)
df.head()

,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,purchaser_type,denial_reason_1,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
0,2017,9,1,1,1,1,424.0,3,1,40900.0,...,3,0.0,2,1,6585.0,70.16,75200.0,110.94,1352.0,1612.0
1,2017,2,1,1,3,1,153.0,3,4,18880.0,...,0,0.0,2,1,8152.0,22.46,67300.0,96.86,2404.0,3345.0
2,2017,9,1,1,3,1,56.0,3,3,21780.0,...,0,3.0,2,1,7388.0,4.24,65500.0,120.10,2651.0,2999.0
3,2017,7,1,1,3,1,207.0,3,1,31700.0,...,1,0.0,2,1,6993.0,3.15,87200.0,107.98,2168.0,2732.0
4,2017,7,1,1,1,1,424.0,3,4,33124.0,...,0,0.0,2,1,4775.0,67.64,51800.0,219.02,1305.0,1448.0

In [3]:
# Examine target distribution
df.action_taken.value_counts()

1    12792
6     3664
3     3587
4     2918
5     1061
2      743
7      177
8       58
Name: action_taken, dtype: int64

In [4]:
df.denial_reason_1.value_counts()

0.0    22506
3.0      693
1.0      678
4.0      409
7.0      290
9.0      210
6.0      101
5.0       67
2.0       44
8.0        2
Name: denial_reason_1, dtype: int64

In [5]:
df.isnull().sum()

as_of_year                           0
agency_code                          0
loan_type                            0
property_type                        0
loan_purpose                         0
owner_occupancy                      0
loan_amount_000s                     8
preapproval                          0
action_taken                         0
msamd                             3097
state_code                         338
county_code                        410
census_tract_number                475
applicant_ethnicity                  0
co_applicant_ethnicity               0
applicant_race_1                     0
co_applicant_race_1                  0
applicant_sex                        0
co_applicant_sex                     0
applicant_income_000s             3242
purchaser_type                       0
denial_reason_1                      0
hoepa_status                         0
lien_status                          0
population                         475
minority_population                475
hud_median_family_income           475
tract_to_msamd_income              475
number_of_owner_occupied_units     475
number_of_1_to_4_family_units      475
dtype: int64

In [6]:
df = df.dropna()
df.isnull().sum()

as_of_year                        0
agency_code                       0
loan_type                         0
property_type                     0
loan_purpose                      0
owner_occupancy                   0
loan_amount_000s                  0
preapproval                       0
action_taken                      0
msamd                             0
state_code                        0
county_code                       0
census_tract_number               0
applicant_ethnicity               0
co_applicant_ethnicity            0
applicant_race_1                  0
co_applicant_race_1               0
applicant_sex                     0
co_applicant_sex                  0
applicant_income_000s             0
purchaser_type                    0
denial_reason_1                   0
hoepa_status                      0
lien_status                       0
population                        0
minority_population               0
hud_median_family_income          0
tract_to_msamd_income             0
number_of_owner_occupied_units    0
number_of_1_to_4_family_units     0
dtype: int64

In [7]:
# Define features and target
y = df["action_taken"]
X = df.drop(columns="action_taken")

In [8]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
classifier = LogisticRegression(solver='lbfgs', max_iter=100, random_state=1)
classifier.fit(X_train, y_train)

C:\Users\sherr\anaconda3\envs\ml2\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(random_state=1)

In [10]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           1       5
1           1       1
2           1       1
3           1       1
4           1       3

In [11]:
print(accuracy_score(y_test, y_pred))

0.5535902295220047