## Dependencies

In [1]:
# Import machine learning dependencies

import tensorflow as tf
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
# Import other dependencies

from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import pickle

In [3]:
# Python SQL toolkit and Object Relational Mapper

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

## Import Pickled File - From Anu's connection to SQL

In [4]:
# Open pickle
df = pickle.load(open('Resources/final_pickle.pkl', 'rb'))

In [5]:
df.head()

,loan_amount_000s,msamd,county_code,census_tract_number,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,...,co_applicant_sex_Female,co_applicant_sex_Male,co_applicant_sex_No Co-Applicant,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
11,92.0,33860.0,1.0,201.0,29.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,94.0,33860.0,1.0,201.0,53.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,147.0,33860.0,1.0,201.0,90.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,115.0,33860.0,1.0,201.0,30.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,160.0,33860.0,1.0,201.0,50.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
# Check the columns again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168940 entries, 11 to 1700351
Data columns (total 59 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   loan_amount_000s                                               168940 non-null  float64
 1   msamd                                                          168940 non-null  float64
 2   county_code                                                    168940 non-null  float64
 3   census_tract_number                                            168940 non-null  float64
 4   applicant_income_000s                                          168940 non-null  float64
 5   population                                                     168940 non-null  float64
 6   minority_population                                            168940 non-null  float64
 7   hud_median_family_income                                       168940 non-null  float64
 8   tract_to_msamd_income                                          168940 non-null  float64
 9   number_of_owner_occupied_units                                 168940 non-null  float64
 10  number_of_1_to_4_family_units                                  168940 non-null  float64
 11  action_taken_summary                                           168940 non-null  int64
 12  agency_code_CFPB                                               168940 non-null  float64
 13  agency_code_FDIC                                               168940 non-null  float64
 14  agency_code_FRS                                                168940 non-null  float64
 15  agency_code_HUD                                                168940 non-null  float64
 16  agency_code_NCUA                                               168940 non-null  float64
 17  agency_code_OCC                                                168940 non-null  float64
 18  loan_type_Conventional                                         168940 non-null  float64
 19  loan_type_FHA-Insured                                          168940 non-null  float64
 20  loan_type_FSA/RHS                                              168940 non-null  float64
 21  loan_type_VA-Guaranteed                                        168940 non-null  float64
 22  property_type_Manufactured                                     168940 non-null  float64
 23  property_type_Multifamily                                      168940 non-null  float64
 24  property_type_One to Four-Family                               168940 non-null  float64
 25  owner_occupancy_Not Owner Occupied                             168940 non-null  float64
 26  owner_occupancy_Owner Occupied                                 168940 non-null  float64
 27  preapproval_Preapproval Not Requested                          168940 non-null  float64
 28  preapproval_Preapproval Requested                              168940 non-null  float64
 29  applicant_ethnicity_Hispanic or Latino                         168940 non-null  float64
 30  applicant_ethnicity_Not Hispanic or Latino                     168940 non-null  float64
 31  co_applicant_ethnicity_Hispanic or Latino                      168940 non-null  float64
 32  co_applicant_ethnicity_No Co-Applicant                         168940 non-null  float64
 33  co_applicant_ethnicity_Not Hispanic or Latino                  168940 non-null  float64
 34  applicant_race_1_American Indian or Alaska Native              168940 non-null  float64
 35  applicant_race_1_Asian                                         168940 non-null  float64
 36  applicant_race_1_Black or African American                     168940 non-null  float64
 37  applicant_race_1_Information not Provided                      168940 non-null  float64
 38  applicant_race_1_Native Hawaiian or Other Pacific Islander     168940 non-null  float64
 39  applicant_race_1_White                                         168940 non-null  float64
 40  co_applicant_race_1_American Indian or Alaska Native           168940 non-null  float64
 41  co_applicant_race_1_Asian                                      168940 non-null  float64
 42  co_applicant_race_1_Black or African American                  168940 non-null  float64
 43  co_applicant_race_1_Information not Provided                   168940 non-null  float64
 44  co_applicant_race_1_Native Hawaiian or Other Pacific Islander  168940 non-null  float64
 45  co_applicant_race_1_No Co-Applicant                            168940 non-null  float64
 46  co_applicant_race_1_White                                      168940 non-null  float64
 47  applicant_sex_Female                                           168940 non-null  float64
 48  applicant_sex_Male                                             168940 non-null  float64
 49  co_applicant_sex_Female                                        168940 non-null  float64
 50  co_applicant_sex_Male                                          168940 non-null  float64
 51  co_applicant_sex_No Co-Applicant                               168940 non-null  float64
 52  Region_MA                                                      168940 non-null  float64
 53  Region_MW                                                      168940 non-null  float64
 54  Region_NE                                                      168940 non-null  float64
 55  Region_NW                                                      168940 non-null  float64
 56  Region_SE                                                      168940 non-null  float64
 57  Region_SW                                                      168940 non-null  float64
 58  Region_W                                                       168940 non-null  float64
dtypes: float64(58), int64(1)
memory usage: 77.3 MB

In [7]:
# Remove repetitive columns
df = df.drop(columns = ["owner_occupancy_Not Owner Occupied", "preapproval_Preapproval Not Requested", "applicant_ethnicity_Not Hispanic or Latino", ])
df.head()

,loan_amount_000s,msamd,county_code,census_tract_number,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,...,co_applicant_sex_Female,co_applicant_sex_Male,co_applicant_sex_No Co-Applicant,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
11,92.0,33860.0,1.0,201.0,29.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,94.0,33860.0,1.0,201.0,53.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,147.0,33860.0,1.0,201.0,90.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,115.0,33860.0,1.0,201.0,30.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,160.0,33860.0,1.0,201.0,50.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### Run Neural Network

In [8]:
# Split our preprocessed data into our features and target arrays
y = df["action_taken_summary"].values
X = df.drop(["action_taken_summary"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
import keras

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 56
hidden_nodes_layer2 = 38
hidden_nodes_layer3 = 26

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

## Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation=keras.layers.LeakyReLU(alpha=0.05)))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 56)                3136

 dense_1 (Dense)             (None, 38)                2166

 dense_2 (Dense)             (None, 26)                1014

 dense_3 (Dense)             (None, 1)                 27

=================================================================
Total params: 6,343
Trainable params: 6,343
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
3960/3960 [==============================] - 13s 3ms/step - loss: 15.3233 - accuracy: 0.7782
Epoch 2/50
3960/3960 [==============================] - 11s 3ms/step - loss: 1.1998 - accuracy: 0.8098
Epoch 3/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.4835 - accuracy: 0.8639
Epoch 4/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3882 - accuracy: 0.8714
Epoch 5/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 6/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 7/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 8/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 9/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 10/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 11/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 12/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 13/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 14/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 15/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 16/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 17/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 18/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 19/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 20/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 21/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3838 - accuracy: 0.8715
Epoch 22/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 23/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 24/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 25/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 26/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 27/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 28/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 29/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 30/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3838 - accuracy: 0.8715
Epoch 31/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 32/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 33/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 34/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 35/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 36/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 37/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 38/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 39/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 40/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 41/50
3960/3960 [==============================] - 12s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 42/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 43/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 44/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 45/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 46/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 47/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3836 - accuracy: 0.8715
Epoch 48/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 49/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 50/50
3960/3960 [==============================] - 13s 3ms/step - loss: 0.3837 - accuracy: 0.8715

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1320/1320 - 3s - loss: 0.3965 - accuracy: 0.8694 - 3s/epoch - 2ms/step
Loss: 0.396471232175827, Accuracy: 0.8693500757217407

NameError: name 'model' is not defined