## Dependencies

In [1]:
# Import machine learning dependencies

import tensorflow as tf
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
# Import other dependencies

from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import pickle

In [3]:
# Python SQL toolkit and Object Relational Mapper

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

## Import Pickled File - From Anu's connection to SQL

In [4]:
# Open pickle
df = pickle.load(open('pickled_raws.pkl', 'rb'))

In [5]:
df.head()

,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,state_code,...,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,action_taken_summary,Region
respondent_id,,,,,,,,,,,,,,,,,,,,,
0000342634,CFPB,Conventional,One to Four-Family,Refinancing,Owner Occupied,9.0,Not Applicable,Application Denied by Financial Institution,33860.0,AL,...,Not a HOEPA Loan,Secured by a Subordinate Loan,1948.0,12.58,59700.0,122.93,507.0,724.0,0,SE
0004186591,CFPB,VA-Guaranteed,One to Four-Family,Home Purchase,Owner Occupied,94.0,Not Applicable,Loan Purchased by the Institution,33860.0,AL,...,Not a HOEPA Loan,Not Applicable (Purchased Loan),1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
22-3039688,HUD,VA-Guaranteed,One to Four-Family,Refinancing,Owner Occupied,161.0,Not Applicable,File Closed for Incompleteness,33860.0,AL,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,2,SE
20-3878295,NCUA,Conventional,One to Four-Family,Home Improvement,Owner Occupied,90.0,Not Applicable,Loan Originated,33860.0,AL,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
0000342634,CFPB,Conventional,One to Four-Family,Refinancing,Not Owner Occupied,41.0,Not Applicable,Loan Originated,33860.0,AL,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE

In [6]:
# convert respondent_id back to column
df = df.reset_index()
df.head()

,respondent_id,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,msamd,...,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,action_taken_summary,Region
0,0000342634,CFPB,Conventional,One to Four-Family,Refinancing,Owner Occupied,9.0,Not Applicable,Application Denied by Financial Institution,33860.0,...,Not a HOEPA Loan,Secured by a Subordinate Loan,1948.0,12.58,59700.0,122.93,507.0,724.0,0,SE
1,0004186591,CFPB,VA-Guaranteed,One to Four-Family,Home Purchase,Owner Occupied,94.0,Not Applicable,Loan Purchased by the Institution,33860.0,...,Not a HOEPA Loan,Not Applicable (Purchased Loan),1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
2,22-3039688,HUD,VA-Guaranteed,One to Four-Family,Refinancing,Owner Occupied,161.0,Not Applicable,File Closed for Incompleteness,33860.0,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,2,SE
3,20-3878295,NCUA,Conventional,One to Four-Family,Home Improvement,Owner Occupied,90.0,Not Applicable,Loan Originated,33860.0,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
4,0000342634,CFPB,Conventional,One to Four-Family,Refinancing,Not Owner Occupied,41.0,Not Applicable,Loan Originated,33860.0,...,Not a HOEPA Loan,Secured by First Lien,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE

## Clean Data

In [7]:
# Drop unnecessary columns and some other ones so the code actually runs
df = df.drop(columns=["denial_reason_1", "lien_status", "hoepa_status", "state_code", "purchaser_type", "respondent_id", "action_taken"])

In [8]:
# Remove rows containing N/A, incomplete, or irrelevant information
## Only Home Purchase rows from loan_purpose column
df = df.loc[df["loan_purpose"] == "Home Purchase"]
df = df.drop(columns="loan_purpose")

## Remove Not Applicable from owner_occupancy
df = df.loc[df["owner_occupancy"] != "Not Applicable"]

## Remove Information not Provided and Not Applicable from Applicant and coapplicant sex
df = df.loc[df["applicant_sex"] != "Information not Provided"]
df = df.loc[df["applicant_sex"] != "Not Applicable"]
df = df.loc[df["co_applicant_sex"] != "Information not Provided"]
df = df.loc[df["co_applicant_sex"] != "Not Applicable"]

## Remove Information not Provided and Not Applicable from Applicant and coapplicant ethnicity
df = df.loc[df["applicant_ethnicity"] != "Not Applicable"]
df = df.loc[df["applicant_ethnicity"] != "Info not Provided by Applicant"]
df = df.loc[df["co_applicant_ethnicity"] != "Not Applicable"]
df = df.loc[df["co_applicant_ethnicity"] != "Info not Provided by Applicant"]

## Remove Not Applicable from Preapproval
df = df.loc[df["preapproval"] != "Not Applicable"]

## Remove Outliers from loan_amount_000s
df = df.loc[df["loan_amount_000s"] <= 1650]

# Restrict target variable to only approvals and denials
df = df.loc[df["action_taken_summary"] != 2]

In [20]:
# Create new pickle file with final cleaned data
pickle.dump(df, open("Resources/final_pickle.pkl", "wb"))

In [9]:
# check df again
df.count()

agency_code                       1700356
loan_type                         1700356
property_type                     1700356
owner_occupancy                   1700356
loan_amount_000s                  1700356
preapproval                       1700356
msamd                             1700356
county_code                       1700356
census_tract_number               1700356
applicant_ethnicity               1700356
co_applicant_ethnicity            1700356
applicant_race_1                  1700356
co_applicant_race_1               1700356
applicant_sex                     1700356
co_applicant_sex                  1700356
applicant_income_000s             1700356
population                        1700356
minority_population               1700356
hud_median_family_income          1700356
tract_to_msamd_income             1700356
number_of_owner_occupied_units    1700356
number_of_1_to_4_family_units     1700356
action_taken_summary              1700356
Region                            1700356
dtype: int64

In [10]:
df.head()

,agency_code,loan_type,property_type,owner_occupancy,loan_amount_000s,preapproval,msamd,county_code,census_tract_number,applicant_ethnicity,...,co_applicant_sex,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,action_taken_summary,Region
11,CFPB,FHA-Insured,One to Four-Family,Owner Occupied,92.0,Preapproval Requested,33860.0,1.0,201.0,Not Hispanic or Latino,...,No Co-Applicant,29.0,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
13,HUD,VA-Guaranteed,One to Four-Family,Owner Occupied,94.0,Preapproval Not Requested,33860.0,1.0,201.0,Not Hispanic or Latino,...,No Co-Applicant,53.0,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
18,HUD,FHA-Insured,One to Four-Family,Owner Occupied,147.0,Preapproval Not Requested,33860.0,1.0,201.0,Not Hispanic or Latino,...,Female,90.0,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE
24,HUD,FHA-Insured,One to Four-Family,Owner Occupied,115.0,Preapproval Not Requested,33860.0,1.0,201.0,Not Hispanic or Latino,...,No Co-Applicant,30.0,1948.0,12.58,59700.0,122.93,507.0,724.0,0,SE
33,HUD,VA-Guaranteed,One to Four-Family,Owner Occupied,160.0,Preapproval Not Requested,33860.0,1.0,201.0,Not Hispanic or Latino,...,No Co-Applicant,50.0,1948.0,12.58,59700.0,122.93,507.0,724.0,1,SE

### Run Neural Network

In [11]:
# Generate our categorical variable lists
action_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df[action_cat].nunique()

agency_code               6
loan_type                 4
property_type             3
owner_occupancy           2
preapproval               2
applicant_ethnicity       2
co_applicant_ethnicity    3
applicant_race_1          6
co_applicant_race_1       7
applicant_sex             2
co_applicant_sex          3
Region                    7
dtype: int64

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[action_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(action_cat)
encode_df.head()

,agency_code_CFPB,agency_code_FDIC,agency_code_FRS,agency_code_HUD,agency_code_NCUA,agency_code_OCC,loan_type_Conventional,loan_type_FHA-Insured,loan_type_FSA/RHS,loan_type_VA-Guaranteed,...,co_applicant_sex_Female,co_applicant_sex_Male,co_applicant_sex_No Co-Applicant,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(action_cat,1)
df.head()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,loan_amount_000s,msamd,county_code,census_tract_number,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,...,co_applicant_sex_Female,co_applicant_sex_Male,co_applicant_sex_No Co-Applicant,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
11,92.0,33860.0,1.0,201.0,29.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,94.0,33860.0,1.0,201.0,53.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18,147.0,33860.0,1.0,201.0,90.0,1948.0,12.58,59700.0,122.93,507.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,115.0,33860.0,1.0,201.0,30.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,160.0,33860.0,1.0,201.0,50.0,1948.0,12.58,59700.0,122.93,507.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y = df["action_taken_summary"].values
X = df.drop(["action_taken_summary"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
import keras

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 59
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 27

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

## Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation=keras.layers.LeakyReLU(alpha=0.05)))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 59)                3481

 dense_1 (Dense)             (None, 40)                2400

 dense_2 (Dense)             (None, 27)                1107

 dense_3 (Dense)             (None, 1)                 28

=================================================================
Total params: 7,016
Trainable params: 7,016
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
3960/3960 [==============================] - 14s 3ms/step - loss: 13.4090 - accuracy: 0.7777
Epoch 2/50
3960/3960 [==============================] - 11s 3ms/step - loss: 2.8029 - accuracy: 0.7937
Epoch 3/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.4337 - accuracy: 0.8674
Epoch 4/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3868 - accuracy: 0.8715
Epoch 5/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 6/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 7/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 8/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 9/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 10/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 11/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 12/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 13/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 14/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 15/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 16/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 17/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 18/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 19/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 20/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 21/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 22/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 23/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 24/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3836 - accuracy: 0.8715
Epoch 25/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 26/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 27/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 28/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 29/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 30/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3838 - accuracy: 0.8715
Epoch 31/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 32/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 33/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 34/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 35/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 36/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 37/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 38/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 39/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 40/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 41/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 42/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 43/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 44/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 45/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 46/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 47/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 48/50
3960/3960 [==============================] - 11s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 49/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715
Epoch 50/50
3960/3960 [==============================] - 10s 3ms/step - loss: 0.3837 - accuracy: 0.8715

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1320/1320 - 3s - loss: 0.3975 - accuracy: 0.8693 - 3s/epoch - 2ms/step
Loss: 0.3975302278995514, Accuracy: 0.8692553639411926