In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Load data
file_path = Path("Resources/hmda_2017_nationwide_all-records_codes.csv")
df = pd.read_csv(file_path)
df.head(10)

,as_of_year,respondent_id,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,...,lien_status,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000342634,9,1,1,3,1,9.0,3,3,...,2,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
1,2017,0004186591,9,3,1,1,1,94.0,3,6,...,4,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
2,2017,22-3039688,7,3,1,3,1,161.0,3,5,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
3,2017,20-3878295,5,1,1,2,1,90.0,3,1,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
4,2017,0000342634,9,1,1,3,2,41.0,3,1,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
5,2017,68-0309242,7,3,1,3,1,146.0,3,6,...,4,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
6,2017,0000013303,3,2,1,1,1,76.0,3,1,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
7,2017,0000808176,9,1,1,3,1,175.0,3,4,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
8,2017,3027509990,7,3,1,3,1,186.0,3,1,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN
9,2017,0471809999,7,1,1,3,1,106.0,3,1,...,1,NaN,NaN,1948.0,12.58,59700.0,122.93,507.0,724.0,NaN

In [3]:
df.count()

as_of_year                        14285496
respondent_id                     14285496
agency_code                       14285496
loan_type                         14285496
property_type                     14285496
loan_purpose                      14285496
owner_occupancy                   14285496
loan_amount_000s                  14280460
preapproval                       14285496
action_taken                      14285496
msamd                             12494446
state_code                        14088338
county_code                       14039899
census_tract_number               14001194
applicant_ethnicity               14285496
co_applicant_ethnicity            14285496
applicant_race_1                  14285496
applicant_race_2                     90382
applicant_race_3                      6990
applicant_race_4                      1644
applicant_race_5                      1084
co_applicant_race_1               14285496
co_applicant_race_2                  30414
co_applicant_race_3                   2144
co_applicant_race_4                    664
co_applicant_race_5                    349
applicant_sex                     14285496
co_applicant_sex                  14285496
applicant_income_000s             12389632
purchaser_type                    14285496
denial_reason_1                    1411970
denial_reason_2                     305152
denial_reason_3                      49338
rate_spread                         493273
hoepa_status                      14285496
lien_status                       14285496
edit_status                              0
sequence_number                          0
population                        14001188
minority_population               14001144
hud_median_family_income          14001188
tract_to_msamd_income             14001188
number_of_owner_occupied_units    14001144
number_of_1_to_4_family_units     14001144
application_date_indicator               0
dtype: int64

In [4]:
# Drop unnecessary columns
df2 = df.drop(columns=["respondent_id", "applicant_race_2", "applicant_race_3", "applicant_race_4", "applicant_race_5",
                        "co_applicant_race_2", "co_applicant_race_3", "co_applicant_race_4", "co_applicant_race_5",
                        "denial_reason_2", "denial_reason_3", "rate_spread", "edit_status", "sequence_number", "application_date_indicator", "denial_reason_1", "msamd"])
df2.head(10)

,as_of_year,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,state_code,...,applicant_income_000s,purchaser_type,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
0,2017,9,1,1,3,1,9.0,3,3,1.0,...,54.0,0,2,2,1948.0,12.58,59700.0,122.93,507.0,724.0
1,2017,9,3,1,1,1,94.0,3,6,1.0,...,NaN,2,2,4,1948.0,12.58,59700.0,122.93,507.0,724.0
2,2017,7,3,1,3,1,161.0,3,5,1.0,...,64.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
3,2017,5,1,1,2,1,90.0,3,1,1.0,...,61.0,1,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
4,2017,9,1,1,3,2,41.0,3,1,1.0,...,133.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
5,2017,7,3,1,3,1,146.0,3,6,1.0,...,NaN,2,2,4,1948.0,12.58,59700.0,122.93,507.0,724.0
6,2017,3,2,1,1,1,76.0,3,1,1.0,...,87.0,6,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
7,2017,9,1,1,3,1,175.0,3,4,1.0,...,33.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
8,2017,7,3,1,3,1,186.0,3,1,1.0,...,76.0,2,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
9,2017,7,1,1,3,1,106.0,3,1,1.0,...,50.0,1,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0

In [5]:
df2.count()

as_of_year                        14285496
agency_code                       14285496
loan_type                         14285496
property_type                     14285496
loan_purpose                      14285496
owner_occupancy                   14285496
loan_amount_000s                  14280460
preapproval                       14285496
action_taken                      14285496
state_code                        14088338
county_code                       14039899
census_tract_number               14001194
applicant_ethnicity               14285496
co_applicant_ethnicity            14285496
applicant_race_1                  14285496
co_applicant_race_1               14285496
applicant_sex                     14285496
co_applicant_sex                  14285496
applicant_income_000s             12389632
purchaser_type                    14285496
hoepa_status                      14285496
lien_status                       14285496
population                        14001188
minority_population               14001144
hud_median_family_income          14001188
tract_to_msamd_income             14001188
number_of_owner_occupied_units    14001144
number_of_1_to_4_family_units     14001144
dtype: int64

In [6]:
# drop more unnecessary columns
df3 = df2.drop(columns=["as_of_year", "county_code", "census_tract_number"])

In [7]:
df3.isnull().sum()

agency_code                             0
loan_type                               0
property_type                           0
loan_purpose                            0
owner_occupancy                         0
loan_amount_000s                     5036
preapproval                             0
action_taken                            0
state_code                         197158
applicant_ethnicity                     0
co_applicant_ethnicity                  0
applicant_race_1                        0
co_applicant_race_1                     0
applicant_sex                           0
co_applicant_sex                        0
applicant_income_000s             1895864
purchaser_type                          0
hoepa_status                            0
lien_status                             0
population                         284308
minority_population                284352
hud_median_family_income           284308
tract_to_msamd_income              284308
number_of_owner_occupied_units     284352
number_of_1_to_4_family_units      284352
dtype: int64

In [8]:
# drop remaining null values
df4 = df3.dropna()
df4.head(10)

,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,state_code,applicant_ethnicity,...,applicant_income_000s,purchaser_type,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
0,9,1,1,3,1,9.0,3,3,1.0,2,...,54.0,0,2,2,1948.0,12.58,59700.0,122.93,507.0,724.0
2,7,3,1,3,1,161.0,3,5,1.0,2,...,64.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
3,5,1,1,2,1,90.0,3,1,1.0,2,...,61.0,1,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
4,9,1,1,3,2,41.0,3,1,1.0,2,...,133.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
6,3,2,1,1,1,76.0,3,1,1.0,2,...,87.0,6,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
7,9,1,1,3,1,175.0,3,4,1.0,2,...,33.0,0,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
8,7,3,1,3,1,186.0,3,1,1.0,2,...,76.0,2,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
9,7,1,1,3,1,106.0,3,1,1.0,2,...,50.0,1,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
11,9,2,1,1,1,92.0,1,1,1.0,2,...,29.0,2,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0
13,7,3,1,1,1,94.0,2,1,1.0,2,...,53.0,9,2,1,1948.0,12.58,59700.0,122.93,507.0,724.0

In [9]:
df4.isnull().sum()

agency_code                       0
loan_type                         0
property_type                     0
loan_purpose                      0
owner_occupancy                   0
loan_amount_000s                  0
preapproval                       0
action_taken                      0
state_code                        0
applicant_ethnicity               0
co_applicant_ethnicity            0
applicant_race_1                  0
co_applicant_race_1               0
applicant_sex                     0
co_applicant_sex                  0
applicant_income_000s             0
purchaser_type                    0
hoepa_status                      0
lien_status                       0
population                        0
minority_population               0
hud_median_family_income          0
tract_to_msamd_income             0
number_of_owner_occupied_units    0
number_of_1_to_4_family_units     0
dtype: int64

In [10]:
# convert state names to regions
states_to_regions = {
    53: 'NW', 
    41: 'NW', 
    6: 'W',
    32: 'W',
    16: 'NW',
    30: 'NW',
    56: 'NW',
    49: 'SW',
    8: 'SW',
    2: 'NW',
    15: 'W',
    23: 'NE',
    50: 'NE',
    36: 'MA',
    33: 'NE',
    25: 'NE',
    44: 'NE',
    9: 'NE',
    34: 'MA',
    42: 'MA', 
    38: 'MW',
    46: 'MW',
    31: 'MW',
    20: 'MW',
    27: 'MW',
    19: 'MW',
    29: 'MW',
    55: 'MW',
    17: 'MW',
    26: 'MW',
    18: 'MW',
    39: 'MW',
    54: 'MA',
    11: 'MA',
    24: 'MA',
    51: 'MA',
    21: 'MW',
    47: 'SE',
    37: 'SE',
    28: 'SE',
    5: 'SE',
    22: 'SE',
    1: 'SE',
    13: 'SE',
    45: 'SE',
    12: 'SE',
    10: 'MA',
    4: 'SW',
    35: 'SW',
    40: 'SW',
    48: 'SW',
    72: 'SE'}

df4["Region"] = df4["state_code"].map(states_to_regions)

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df4.count()

agency_code                       12121771
loan_type                         12121771
property_type                     12121771
loan_purpose                      12121771
owner_occupancy                   12121771
loan_amount_000s                  12121771
preapproval                       12121771
action_taken                      12121771
state_code                        12121771
applicant_ethnicity               12121771
co_applicant_ethnicity            12121771
applicant_race_1                  12121771
co_applicant_race_1               12121771
applicant_sex                     12121771
co_applicant_sex                  12121771
applicant_income_000s             12121771
purchaser_type                    12121771
hoepa_status                      12121771
lien_status                       12121771
population                        12121771
minority_population               12121771
hud_median_family_income          12121771
tract_to_msamd_income             12121771
number_of_owner_occupied_units    12121771
number_of_1_to_4_family_units     12121771
Region                            12121771
dtype: int64

In [12]:
# value counts of agency code column
df4["agency_code"].value_counts()

7    6022808
9    3426092
3     995714
5     926194
1     416087
2     334876
Name: agency_code, dtype: int64

In [13]:
# Change values in agency code to reflect categorical variables
df4['agency_code'] = df4['agency_code'].replace([1,2,3,5,7,9],['OCC','FRS','FDIC','NCUA','HUD','CFPB'])
df4["agency_code"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

HUD     6022808
CFPB    3426092
FDIC     995714
NCUA     926194
OCC      416087
FRS      334876
Name: agency_code, dtype: int64

In [14]:
# value counts of loan type column
df4["loan_type"].value_counts()

1    8986265
2    1917402
3    1032519
4     185585
Name: loan_type, dtype: int64

In [15]:
# Change values in loan type to reflect categorical variables
df4['loan_type'] = df4['loan_type'].replace([1,2,3,4],['Conventional','FHA-Insured','VA-Guaranteed','FSA/RHS'])
df4["loan_type"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Conventional     8986265
FHA-Insured      1917402
VA-Guaranteed    1032519
FSA/RHS           185585
Name: loan_type, dtype: int64

In [16]:
# value counts of property type column
df4["property_type"].value_counts()

1    11688529
2      433242
Name: property_type, dtype: int64

In [17]:
# Change values in property type to reflect categorical variables
df4['property_type'] = df4['property_type'].replace([1,2,3],['One to Four-Family','Manufactured','Multifamily'])
df4["property_type"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

One to Four-Family    11688529
Manufactured            433242
Name: property_type, dtype: int64

In [18]:
# value counts of loan purpose column
df4["loan_purpose"].value_counts()

1    6433967
3    4653373
2    1034431
Name: loan_purpose, dtype: int64

In [19]:
# Change values in loan purpose to reflect categorical variables
df4['loan_purpose'] = df4['loan_purpose'].replace([1,2,3],['Home Purchase','Home Improvement','Refinancing'])
df4["loan_purpose"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Home Purchase       6433967
Refinancing         4653373
Home Improvement    1034431
Name: loan_purpose, dtype: int64

In [20]:
# value counts of owner occupancy column
df4["owner_occupancy"].value_counts()

1    11010525
2     1101211
3       10035
Name: owner_occupancy, dtype: int64

In [21]:
# Change values in owner occupancy to reflect categorical variables
df4['owner_occupancy'] = df4['owner_occupancy'].replace([1,2,3],['Owner Occupied','Not Owner Occupied','Not Applicable'])
df4["owner_occupancy"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Owner Occupied        11010525
Not Owner Occupied     1101211
Not Applicable           10035
Name: owner_occupancy, dtype: int64

In [22]:
# Change values in preapproval to reflect categorical variables
df4['preapproval'] = df4['preapproval'].replace([1,2,3],['Preapproval Requested','Preapproval Not Requested','Not Applicable'])
df4["preapproval"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Not Applicable               9886093
Preapproval Not Requested    1918501
Preapproval Requested         317177
Name: preapproval, dtype: int64

In [23]:
# value counts of action taken column
df4["action_taken"].value_counts()

1    6897186
3    1855188
4    1549602
6     948807
5     499753
2     370586
7        481
8        168
Name: action_taken, dtype: int64

In [24]:
# Change values in action taken to reflect categorical variables
df4['action_taken'] = df4['action_taken'].replace([1,2,3,4,5,6,7,8],['Loan Originated','Application Approved but not Accepted','Application Denied by Financial Institution','Application Withdrawn by Applicant','File Closed for Incompleteness','Loan Purchased by the Institution','Preapproval Request Denied by Financial Institution','Preapproval Request Approved but not Accepted'])
df4["action_taken"].value_counts()

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Loan Originated                                        6897186
Application Denied by Financial Institution            1855188
Application Withdrawn by Applicant                     1549602
Loan Purchased by the Institution                       948807
File Closed for Incompleteness                          499753
Application Approved but not Accepted                   370586
Preapproval Request Denied by Financial Institution        481
Preapproval Request Approved but not Accepted              168
Name: action_taken, dtype: int64

In [25]:
# convert action taken column to approved/denied
action = {
    'Loan Originated': 1, 
    'Loan Purchased by the Institution': 1, 
    'Application Denied by Financial Institution': 0,
    'Application Withdrawn by Applicant': 2,
    'File Closed for Incompleteness': 2,
    'Application Approved but not Accepted': 0,
    'Preapproval Request Denied by Financial Institution': 0,
    'Preapproval Request Approved but not Accepted': 0}

df4["action_taken_summary"] = df4["action_taken"].map(action)

c:\Users\olivi\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [26]:
df4.count()

agency_code                       12121771
loan_type                         12121771
property_type                     12121771
loan_purpose                      12121771
owner_occupancy                   12121771
loan_amount_000s                  12121771
preapproval                       12121771
action_taken                      12121771
state_code                        12121771
applicant_ethnicity               12121771
co_applicant_ethnicity            12121771
applicant_race_1                  12121771
co_applicant_race_1               12121771
applicant_sex                     12121771
co_applicant_sex                  12121771
applicant_income_000s             12121771
purchaser_type                    12121771
hoepa_status                      12121771
lien_status                       12121771
population                        12121771
minority_population               12121771
hud_median_family_income          12121771
tract_to_msamd_income             12121771
number_of_owner_occupied_units    12121771
number_of_1_to_4_family_units     12121771
Region                            12121771
action_taken_summary              12121771
dtype: int64

In [27]:
# value counts of action taken summary column
df4["action_taken_summary"].value_counts()

1    7845993
0    2226423
2    2049355
Name: action_taken_summary, dtype: int64

In [28]:
# drop rows with the value 2 in the action taken summary
df4 = df4[df4.action_taken_summary != 2]

In [29]:
# value counts of action taken summary column
df4["action_taken_summary"].value_counts()

1    7845993
0    2226423
Name: action_taken_summary, dtype: int64

In [30]:
df4.count()

agency_code                       10072416
loan_type                         10072416
property_type                     10072416
loan_purpose                      10072416
owner_occupancy                   10072416
loan_amount_000s                  10072416
preapproval                       10072416
action_taken                      10072416
state_code                        10072416
applicant_ethnicity               10072416
co_applicant_ethnicity            10072416
applicant_race_1                  10072416
co_applicant_race_1               10072416
applicant_sex                     10072416
co_applicant_sex                  10072416
applicant_income_000s             10072416
purchaser_type                    10072416
hoepa_status                      10072416
lien_status                       10072416
population                        10072416
minority_population               10072416
hud_median_family_income          10072416
tract_to_msamd_income             10072416
number_of_owner_occupied_units    10072416
number_of_1_to_4_family_units     10072416
Region                            10072416
action_taken_summary              10072416
dtype: int64

In [31]:
# value counts of action taken column
df4["applicant_ethnicity"].value_counts()

2    7726282
3    1096171
1    1015159
4     234804
Name: applicant_ethnicity, dtype: int64

In [32]:
# Change values in applicant ethnicity to reflect categorical variables
df4['applicant_ethnicity'] = df4['applicant_ethnicity'].replace([1,2,3,4,5],['Hispanic or Latino','Not Hispanic or Latino','Info not Provided by Applicant','Not Applicable','No Co-Applicant'])
df4["applicant_ethnicity"].value_counts()

Not Hispanic or Latino            7726282
Info not Provided by Applicant    1096171
Hispanic or Latino                1015159
Not Applicable                     234804
Name: applicant_ethnicity, dtype: int64

In [33]:
# value counts of co applicant column
df4["co_applicant_ethnicity"].value_counts()

5    5520912
2    3407350
3     538982
1     407562
4     197610
Name: co_applicant_ethnicity, dtype: int64

In [34]:
# Change values in co applicant ethnicity to reflect categorical variables
df4['co_applicant_ethnicity'] = df4['co_applicant_ethnicity'].replace([1,2,3,4,5],['Hispanic or Latino','Not Hispanic or Latino','Info not Provided by Applicant','Not Applicable','No Co-Applicant'])
df4["co_applicant_ethnicity"].value_counts()

No Co-Applicant                   5520912
Not Hispanic or Latino            3407350
Info not Provided by Applicant     538982
Hispanic or Latino                 407562
Not Applicable                     197610
Name: co_applicant_ethnicity, dtype: int64

In [35]:
# value counts of applicant race column
df4["applicant_race_1"].value_counts()

5    7311642
6    1157386
3     709939
2     541196
7     230531
1      78090
4      43632
Name: applicant_race_1, dtype: int64

In [36]:
# Change values in applicant race to reflect categorical variables
df4['applicant_race_1'] = df4['applicant_race_1'].replace([1,2,3,4,5,6,7,8],['American Indian or Alaska Native','Asian','Black or African American','Native Hawaiian or Other Pacific Islander','White','Information not Provided','Not Applicable','No Co-Applicant'])
df4["applicant_race_1"].value_counts()

White                                        7311642
Information not Provided                     1157386
Black or African American                     709939
Asian                                         541196
Not Applicable                                230531
American Indian or Alaska Native               78090
Native Hawaiian or Other Pacific Islander      43632
Name: applicant_race_1, dtype: int64

In [37]:
# value counts of co applicant race column
df4["co_applicant_race_1"].value_counts()

8    5520912
5    3320570
6     558396
2     247513
7     195788
3     175461
1      27112
4      26664
Name: co_applicant_race_1, dtype: int64

In [38]:
# Change values in co applicant race to reflect categorical variables
df4['co_applicant_race_1'] = df4['co_applicant_race_1'].replace([1,2,3,4,5,6,7,8],['American Indian or Alaska Native','Asian','Black or African American','Native Hawaiian or Other Pacific Islander','White','Information not Provided','Not Applicable','No Co-Applicant'])
df4["co_applicant_race_1"].value_counts()

No Co-Applicant                              5520912
White                                        3320570
Information not Provided                      558396
Asian                                         247513
Not Applicable                                195788
Black or African American                     175461
American Indian or Alaska Native               27112
Native Hawaiian or Other Pacific Islander      26664
Name: co_applicant_race_1, dtype: int64

In [39]:
# value counts of applicant sex column
df4["applicant_sex"].value_counts()

1    6229294
2    2915610
3     697794
4     229718
Name: applicant_sex, dtype: int64

In [40]:
# Change values in applicant sex to reflect categorical variables
df4['applicant_sex'] = df4['applicant_sex'].replace([1,2,3,4,5],['Male','Female','Information not Provided','Not Applicable','No Co-Applicant'])
df4["applicant_sex"].value_counts()

Male                        6229294
Female                      2915610
Information not Provided     697794
Not Applicable               229718
Name: applicant_sex, dtype: int64

In [41]:
# value counts of coapplicant sex column
df4["co_applicant_sex"].value_counts()

5    5520913
2    3112378
1     900022
3     343259
4     195844
Name: co_applicant_sex, dtype: int64

In [42]:
# Change values in co applicant sex to reflect categorical variables
df4['co_applicant_sex'] = df4['co_applicant_sex'].replace([1,2,3,4,5],['Male','Female','Information not Provided','Not Applicable','No Co-Applicant'])
df4["co_applicant_sex"].value_counts()

No Co-Applicant             5520913
Female                      3112378
Male                         900022
Information not Provided     343259
Not Applicable               195844
Name: co_applicant_sex, dtype: int64

In [43]:
# value counts of purchaser type column
df4["purchaser_type"].value_counts()

0    4215569
1    1672719
3    1104690
2    1008933
7     800832
6     739433
9     394573
8      85564
5      48897
4       1206
Name: purchaser_type, dtype: int64

In [44]:
# Change values in purchaser type to reflect categorical variables
df4['purchaser_type'] = df4['purchaser_type'].replace([0,1,2,3,4,5,6,7,8,9],['Loan Not Originated','FNMA','GNMA','FHLMC','FAMC','Private Securitization','Commercial Bank, Savings Bank, or Savings Assoc','Life Insurance Company, Credit Union, Mortgage Bank, or Finance Company','Affiliate Institution','Other Type of Purchaser'])
df4["purchaser_type"].value_counts()

Loan Not Originated                                                        4215569
FNMA                                                                       1672719
FHLMC                                                                      1104690
GNMA                                                                       1008933
Life Insurance Company, Credit Union, Mortgage Bank, or Finance Company     800832
Commercial Bank, Savings Bank, or Savings Assoc                             739433
Other Type of Purchaser                                                     394573
Affiliate Institution                                                        85564
Private Securitization                                                       48897
FAMC                                                                          1206
Name: purchaser_type, dtype: int64

In [45]:
# value counts of hoepa status column
df4["hoepa_status"].value_counts()

2    10069071
1        3345
Name: hoepa_status, dtype: int64

In [46]:
# Change values in hoepa status to reflect categorical variables
df4['hoepa_status'] = df4['hoepa_status'].replace([1,2],['HOEPA Loan','Not a HOEPA Loan'])
df4["hoepa_status"].value_counts()

Not a HOEPA Loan    10069071
HOEPA Loan              3345
Name: hoepa_status, dtype: int64

In [47]:
save_path = "Resources/sample_checkpoint.csv"
df4.to_csv(save_path, index=False)