In [36]:
import pandas as pd
import tensorflow as tf
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [37]:
# Load data
file_path = Path("Resources/final_sample.csv")
df = pd.read_csv(file_path)
df.head()

,agency_code,loan_type,property_type,loan_purpose,owner_occupancy,loan_amount_000s,preapproval,action_taken,applicant_ethnicity,co_applicant_ethnicity,...,hoepa_status,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,Region,action_taken_summary
0,NCUA,Conventional,One to Four-Family,Refinancing,Not Owner Occupied,123.0,Not Applicable,Application Approved but not Accepted,Not Hispanic or Latino,Not Hispanic or Latino,...,Not a HOEPA Loan,Secured by First Lien,2310.0,20.35,65300.0,74.28,941.0,3848.0,MW,0
1,HUD,Conventional,One to Four-Family,Home Purchase,Owner Occupied,387.0,Not Applicable,Application Approved but not Accepted,Hispanic or Latino,Not Hispanic or Latino,...,Not a HOEPA Loan,Secured by First Lien,5192.0,96.51,64300.0,53.53,397.0,1056.0,W,0
2,HUD,Conventional,One to Four-Family,Refinancing,Owner Occupied,376.0,Not Applicable,Application Approved but not Accepted,Not Hispanic or Latino,Not Hispanic or Latino,...,Not a HOEPA Loan,Secured by First Lien,12130.0,66.65,63200.0,112.07,921.0,2099.0,W,0
3,HUD,FHA-Insured,One to Four-Family,Refinancing,Owner Occupied,272.0,Not Applicable,Application Approved but not Accepted,Not Hispanic or Latino,Not Hispanic or Latino,...,Not a HOEPA Loan,Secured by First Lien,6335.0,27.73,91500.0,136.37,1406.0,1541.0,MA,0
4,NCUA,Conventional,One to Four-Family,Home Improvement,Owner Occupied,40.0,Not Applicable,Application Approved but not Accepted,Info not Provided by Applicant,No Co-Applicant,...,Not a HOEPA Loan,Secured by a Subordinate Loan,5625.0,5.33,79600.0,153.58,1693.0,1679.0,MW,0

In [38]:
df.isnull().sum()

agency_code                       0
loan_type                         0
property_type                     0
loan_purpose                      0
owner_occupancy                   0
loan_amount_000s                  0
preapproval                       0
action_taken                      0
applicant_ethnicity               0
co_applicant_ethnicity            0
applicant_race_1                  0
co_applicant_race_1               0
applicant_sex                     0
co_applicant_sex                  0
applicant_income_000s             0
purchaser_type                    0
hoepa_status                      0
lien_status                       0
population                        0
minority_population               0
hud_median_family_income          0
tract_to_msamd_income             0
number_of_owner_occupied_units    0
number_of_1_to_4_family_units     0
Region                            0
action_taken_summary              0
dtype: int64

In [39]:
# Drop action_taken and purchaser type column
df = df.drop(columns=["action_taken", "purchaser_type"])

In [40]:
# Generate our categorical variable lists
action_cat = df.dtypes[df.dtypes == "object"].index.tolist()
df[action_cat].nunique()

agency_code               6
loan_type                 4
property_type             2
loan_purpose              3
owner_occupancy           3
preapproval               3
applicant_ethnicity       4
co_applicant_ethnicity    5
applicant_race_1          7
co_applicant_race_1       8
applicant_sex             4
co_applicant_sex          5
hoepa_status              2
lien_status               4
Region                    7
dtype: int64

In [41]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[action_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(action_cat)
encode_df.head()

C:\Users\sherr\anaconda3\envs\ml2\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,agency_code_CFPB,agency_code_FDIC,agency_code_FRS,agency_code_HUD,agency_code_NCUA,agency_code_OCC,loan_type_Conventional,loan_type_FHA-Insured,loan_type_FSA/RHS,loan_type_VA-Guaranteed,...,lien_status_Not Secured by Lien,lien_status_Secured by First Lien,lien_status_Secured by a Subordinate Loan,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [16]:
###

# NEED TO DROP ALL N/A COLUMNS

###

In [42]:
# Merge dummy columns and drop originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(action_cat, axis=1)
df.head()

,loan_amount_000s,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,action_taken_summary,agency_code_CFPB,...,lien_status_Not Secured by Lien,lien_status_Secured by First Lien,lien_status_Secured by a Subordinate Loan,Region_MA,Region_MW,Region_NE,Region_NW,Region_SE,Region_SW,Region_W
0,123.0,187.0,2310.0,20.35,65300.0,74.28,941.0,3848.0,0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,387.0,148.0,5192.0,96.51,64300.0,53.53,397.0,1056.0,0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,376.0,208.0,12130.0,66.65,63200.0,112.07,921.0,2099.0,0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,272.0,111.0,6335.0,27.73,91500.0,136.37,1406.0,1541.0,0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.0,120.0,5625.0,5.33,79600.0,153.58,1693.0,1679.0,0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100725 entries, 0 to 100724
Data columns (total 76 columns):
 #   Column                                                         Non-Null Count   Dtype
---  ------                                                         --------------   -----
 0   loan_amount_000s                                               100725 non-null  float64
 1   applicant_income_000s                                          100725 non-null  float64
 2   population                                                     100725 non-null  float64
 3   minority_population                                            100725 non-null  float64
 4   hud_median_family_income                                       100725 non-null  float64
 5   tract_to_msamd_income                                          100725 non-null  float64
 6   number_of_owner_occupied_units                                 100725 non-null  float64
 7   number_of_1_to_4_family_units                                  100725 non-null  float64
 8   action_taken_summary                                           100725 non-null  int64
 9   agency_code_CFPB                                               100725 non-null  float64
 10  agency_code_FDIC                                               100725 non-null  float64
 11  agency_code_FRS                                                100725 non-null  float64
 12  agency_code_HUD                                                100725 non-null  float64
 13  agency_code_NCUA                                               100725 non-null  float64
 14  agency_code_OCC                                                100725 non-null  float64
 15  loan_type_Conventional                                         100725 non-null  float64
 16  loan_type_FHA-Insured                                          100725 non-null  float64
 17  loan_type_FSA/RHS                                              100725 non-null  float64
 18  loan_type_VA-Guaranteed                                        100725 non-null  float64
 19  property_type_Manufactured                                     100725 non-null  float64
 20  property_type_One to Four-Family                               100725 non-null  float64
 21  loan_purpose_Home Improvement                                  100725 non-null  float64
 22  loan_purpose_Home Purchase                                     100725 non-null  float64
 23  loan_purpose_Refinancing                                       100725 non-null  float64
 24  owner_occupancy_Not Applicable                                 100725 non-null  float64
 25  owner_occupancy_Not Owner Occupied                             100725 non-null  float64
 26  owner_occupancy_Owner Occupied                                 100725 non-null  float64
 27  preapproval_Not Applicable                                     100725 non-null  float64
 28  preapproval_Preapproval Not Requested                          100725 non-null  float64
 29  preapproval_Preapproval Requested                              100725 non-null  float64
 30  applicant_ethnicity_Hispanic or Latino                         100725 non-null  float64
 31  applicant_ethnicity_Info not Provided by Applicant             100725 non-null  float64
 32  applicant_ethnicity_Not Applicable                             100725 non-null  float64
 33  applicant_ethnicity_Not Hispanic or Latino                     100725 non-null  float64
 34  co_applicant_ethnicity_Hispanic or Latino                      100725 non-null  float64
 35  co_applicant_ethnicity_Info not Provided by Applicant          100725 non-null  float64
 36  co_applicant_ethnicity_No Co-Applicant                         100725 non-null  float64
 37  co_applicant_ethnicity_Not Applicable                          100725 non-null  float64
 38  co_applicant_ethnicity_Not Hispanic or Latino                  100725 non-null  float64
 39  applicant_race_1_American Indian or Alaska Native              100725 non-null  float64
 40  applicant_race_1_Asian                                         100725 non-null  float64
 41  applicant_race_1_Black or African American                     100725 non-null  float64
 42  applicant_race_1_Information not Provided                      100725 non-null  float64
 43  applicant_race_1_Native Hawaiian or Other Pacific Islander     100725 non-null  float64
 44  applicant_race_1_Not Applicable                                100725 non-null  float64
 45  applicant_race_1_White                                         100725 non-null  float64
 46  co_applicant_race_1_American Indian or Alaska Native           100725 non-null  float64
 47  co_applicant_race_1_Asian                                      100725 non-null  float64
 48  co_applicant_race_1_Black or African American                  100725 non-null  float64
 49  co_applicant_race_1_Information not Provided                   100725 non-null  float64
 50  co_applicant_race_1_Native Hawaiian or Other Pacific Islander  100725 non-null  float64
 51  co_applicant_race_1_No Co-Applicant                            100725 non-null  float64
 52  co_applicant_race_1_Not Applicable                             100725 non-null  float64
 53  co_applicant_race_1_White                                      100725 non-null  float64
 54  applicant_sex_Female                                           100725 non-null  float64
 55  applicant_sex_Information not Provided                         100725 non-null  float64
 56  applicant_sex_Male                                             100725 non-null  float64
 57  applicant_sex_Not Applicable                                   100725 non-null  float64
 58  co_applicant_sex_Female                                        100725 non-null  float64
 59  co_applicant_sex_Information not Provided                      100725 non-null  float64
 60  co_applicant_sex_Male                                          100725 non-null  float64
 61  co_applicant_sex_No Co-Applicant                               100725 non-null  float64
 62  co_applicant_sex_Not Applicable                                100725 non-null  float64
 63  hoepa_status_HOEPA Loan                                        100725 non-null  float64
 64  hoepa_status_Not a HOEPA Loan                                  100725 non-null  float64
 65  lien_status_Not Applicable (Purchased Loan)                    100725 non-null  float64
 66  lien_status_Not Secured by Lien                                100725 non-null  float64
 67  lien_status_Secured by First Lien                              100725 non-null  float64
 68  lien_status_Secured by a Subordinate Loan                      100725 non-null  float64
 69  Region_MA                                                      100725 non-null  float64
 70  Region_MW                                                      100725 non-null  float64
 71  Region_NE                                                      100725 non-null  float64
 72  Region_NW                                                      100725 non-null  float64
 73  Region_SE                                                      100725 non-null  float64
 74  Region_SW                                                      100725 non-null  float64
 75  Region_W                                                       100725 non-null  float64
dtypes: float64(75), int64(1)
memory usage: 58.4 MB

In [45]:
# Define features and targets
y = df["action_taken_summary"]
X = df.drop(columns="action_taken_summary")

In [46]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

In [47]:
# Create StandardScaler instance, fit to X, scale
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
# Create decision tree classifier
model1 = tree.DecisionTreeClassifier()
model1 = model1.fit(X_train_scaled, y_train)

In [49]:
predictions = model1.predict(X_test_scaled)

In [50]:
# Calculate confusion matrix and accuracy score
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(cm, index= ["Actual 0", "Actual 1"], columns = ["Predicted 0", "Predicted 1"])

acc_score = accuracy_score(y_test, predictions)

In [51]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2136         3448
Actual 1         3828        15770

Accuracy Score: 0.7110634580255738
              precision    recall  f1-score   support

           0       0.36      0.38      0.37      5584
           1       0.82      0.80      0.81     19598

    accuracy                           0.71     25182
   macro avg       0.59      0.59      0.59     25182
weighted avg       0.72      0.71      0.71     25182

In [58]:
# Create a random forest classifier
model2 = RandomForestClassifier(n_estimators=500, random_state=21)

In [59]:
# Fit model
model2 = model2.fit(X_train_scaled, y_train)

In [60]:
predictions2 = model2.predict(X_test_scaled)

In [61]:
# Calculate confusion matrix and accuracy score
cm = confusion_matrix(y_test, predictions2)
cm_df = pd.DataFrame(cm, index= ["Actual 0", "Actual 1"], columns = ["Predicted 0", "Predicted 1"])

acc_score = accuracy_score(y_test, predictions2)

In [62]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print(classification_report(y_test, predictions2))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1338         4246
Actual 1          786        18812

Accuracy Score: 0.8001747279803034
              precision    recall  f1-score   support

           0       0.63      0.24      0.35      5584
           1       0.82      0.96      0.88     19598

    accuracy                           0.80     25182
   macro avg       0.72      0.60      0.61     25182
weighted avg       0.77      0.80      0.76     25182

In [63]:
# Sort features by importance
imp_list = sorted(zip(model2.feature_importances_, X.columns), reverse=True)
imp_list

[(0.09982791076469436, 'applicant_income_000s'),
 (0.09453522391075313, 'loan_amount_000s'),
 (0.08223187598936205, 'minority_population'),
 (0.08218675309549324, 'tract_to_msamd_income'),
 (0.07934174816825755, 'number_of_1_to_4_family_units'),
 (0.07916798546059349, 'population'),
 (0.07901154554900378, 'number_of_owner_occupied_units'),
 (0.07108555949018094, 'hud_median_family_income'),
 (0.026953573652223322, 'loan_purpose_Home Purchase'),
 (0.014467906386375289, 'lien_status_Not Applicable (Purchased Loan)'),
 (0.01300552384714672, 'loan_purpose_Refinancing'),
 (0.011626465751804751, 'property_type_Manufactured'),
 (0.010944140561484541, 'property_type_One to Four-Family'),
 (0.010799393071041673, 'agency_code_CFPB'),
 (0.009911455886715973, 'agency_code_HUD'),
 (0.009299173035549394, 'applicant_sex_Male'),
 (0.009280366865979621, 'loan_type_Conventional'),
 (0.009126530924906343, 'Region_SE'),
 (0.0089121058323604, 'applicant_sex_Female'),
 (0.008866022445026819, 'Region_MW'),
 (0.008761071805681286, 'Region_SW'),
 (0.008366519655634872, 'Region_MA'),
 (0.00752833450574411, 'lien_status_Secured by First Lien'),
 (0.00723012365304658, 'loan_type_FHA-Insured'),
 (0.007103381460447812, 'applicant_race_1_White'),
 (0.006853925940673083, 'lien_status_Not Secured by Lien'),
 (0.006812248238053231, 'Region_W'),
 (0.006748179651039731, 'loan_purpose_Home Improvement'),
 (0.006517751051953326, 'agency_code_NCUA'),
 (0.0061368999630545505, 'agency_code_FDIC'),
 (0.006056939162735788, 'applicant_ethnicity_Not Hispanic or Latino'),
 (0.005691361244676196, 'applicant_race_1_Black or African American'),
 (0.005570018235535427, 'owner_occupancy_Owner Occupied'),
 (0.005512806678615466, 'owner_occupancy_Not Owner Occupied'),
 (0.005303828690091225, 'Region_NW'),
 (0.005209770751888912, 'preapproval_Not Applicable'),
 (0.004993978693996988, 'loan_type_VA-Guaranteed'),
 (0.004704784267671209, 'applicant_ethnicity_Hispanic or Latino'),
 (0.004284105321213923, 'preapproval_Preapproval Not Requested'),
 (0.004089519556087833, 'co_applicant_sex_Female'),
 (0.003915563557725729, 'co_applicant_race_1_White'),
 (0.003857379513645102, 'applicant_race_1_Information not Provided'),
 (0.003803343151220717, 'Region_NE'),
 (0.0037249430928538068, 'applicant_ethnicity_Info not Provided by Applicant'),
 (0.0036518892674345872, 'agency_code_OCC'),
 (0.00357187736447611, 'co_applicant_ethnicity_Not Hispanic or Latino'),
 (0.003359687303797831, 'co_applicant_sex_Male'),
 (0.0029768000371978498, 'co_applicant_race_1_No Co-Applicant'),
 (0.0029586570238397023, 'agency_code_FRS'),
 (0.002934149088300273, 'co_applicant_ethnicity_No Co-Applicant'),
 (0.002918635732118144, 'co_applicant_sex_No Co-Applicant'),
 (0.0028248941880206087, 'applicant_sex_Information not Provided'),
 (0.0028149636771966345, 'applicant_race_1_Asian'),
 (0.002531673595777362, 'lien_status_Secured by a Subordinate Loan'),
 (0.0018553526567752102, 'co_applicant_ethnicity_Hispanic or Latino'),
 (0.0018519897566640683, 'co_applicant_race_1_Information not Provided'),
 (0.001833931747209028,
  'co_applicant_ethnicity_Info not Provided by Applicant'),
 (0.00179031154708515, 'preapproval_Preapproval Requested'),
 (0.001424755401647513, 'applicant_race_1_American Indian or Alaska Native'),
 (0.0014117896463280058, 'loan_type_FSA/RHS'),
 (0.0014091259396302005, 'co_applicant_sex_Information not Provided'),
 (0.0014083457958300799, 'co_applicant_race_1_Black or African American'),
 (0.0012275353568795642, 'co_applicant_race_1_Asian'),
 (0.000902821629685158, 'applicant_race_1_Not Applicable'),
 (0.0008941503927099293,
  'applicant_race_1_Native Hawaiian or Other Pacific Islander'),
 (0.0007974872284617751, 'applicant_ethnicity_Not Applicable'),
 (0.0007281884038175357, 'applicant_sex_Not Applicable'),
 (0.0004972448170021554,
  'co_applicant_race_1_American Indian or Alaska Native'),
 (0.0004831767345979398,
  'co_applicant_race_1_Native Hawaiian or Other Pacific Islander'),
 (0.00045193953650956323, 'co_applicant_sex_Not Applicable'),
 (0.00043203985712335954, 'co_applicant_ethnicity_Not Applicable'),
 (0.00042393060634289266, 'co_applicant_race_1_Not Applicable'),
 (0.00012369307026949435, 'owner_occupancy_Not Applicable'),
 (7.627663215475857e-05, 'hoepa_status_Not a HOEPA Loan'),
 (7.464743287727818e-05, 'hoepa_status_HOEPA Loan')]